<p id="notice"><%= notice %></p>

<h1>Communes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Display in index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communes.each do |commune| %>
      <tr>
        <td><%= commune.name %></td>
        <td><%= commune.display_in_index %></td>
        <td><%= link_to 'Show', commune %></td>
        <td><%= link_to 'Edit', edit_commune_path(commune) %></td>
        <td><%= link_to 'Destroy', commune, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commune', new_commune_path %>
